:root {
    --primary-color: #18233f;
    --secondary-color:#48e;
    --shadows:#48e5;
    --content:#48e2;
    --texto:#3A384F;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat"; 
}

a{
    text-decoration: none;
    color:var(--texto);
}


body{
    background: #e2eaff;
}


/* -----  HEADER -----*/
/* -----  HEADER -----*/
/* -----  HEADER -----*/

.header{
    background:var(--primary-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: 0px 0px 4px 1px #3a384f99;
    */container-type: inline-size;
    container-name: encabezado;
    position: sticky;
    z-index:10;
    border-bottom:2px solid var(--shadows);    
}

.header__open-nav-button{
    color:var(--secondary-color);
    position:absolute;
    right: 35px;
    user-select: none;
    border:1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 2px 2px 0px var(--shadows);
    }

.boton-menu{
    padding:6px 1px;
    
    user-select: none;
}


.header__open-nav-button:active{
   transform: translate(2px,2px);
   box-shadow: none;
    transition: 0.1s transform, 0.1s box-shadow;
}
.header__nav{
    display:none;
    background: #18233f;
    position:absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    z-index:-1;
}

.header__checkbox:checked ~ .header__nav{
    display:flex;
}


.header__logo{
    min-width: 100%;
    width: 120px;
    margin: 10px 25px;
}


.header__nav-list{
    display:flex;
    flex-direction: column;
    height: 40vh;
    margin:auto;
    justify-content: space-between;
    
}

.header__checkbox{
display:none;
}

.header__nav-item{
    list-style: none;
    

}

.header__nav-item a{
    display:flex;
    font-weight: 600;
    color:#4af;
    align-items: center;
    text-decoration: none;
    font-size:1.3vw;
}

.header__nav-item a:hover{
    color:#fff;
    transition:color 0.3s;

}



.material-symbols-outlined{
    margin:0 8px;
}


/* ----- QUERIES DEL HEADER -----*/

@container encabezado (min-width:800px){
 
    .header__nav {
        display:block;
        position:static;
        height: auto;
        width: auto;
        justify-content: space-between;
        margin-right: 100px;

    }   

    .header__nav-item a{
        color:#cdc9eb;
        margin:0 20px;
    }


    .header__nav-list{
        flex-direction: row;
        height: auto;
    }

    .header__open-nav-button{
        display:none;
    }

}

/* -----  FIN HEADER -----*/
/* -----  FIN HEADER -----*/
/* -----  FIN HEADER -----*/


main{
    flex:1;
}


h1,h2,li,h3{
    user-select: none;
}

.profile{
    container-name: profile;
    container-type: inline-size;
}


.profile__wrapper{
    margin:auto;
    margin-top:10px;
    max-width:1000px;
    width: 100%;
    text-align: center;
    border-radius:5px;
   /* background-color: #fff;
    box-shadow: 0px 0px 3px 0px #3a384f99;
    */padding:20px;

}


h1{
    color:var(--primary-color);
    font-size:clamp(1rem,1.6rem,2.5rem);
    font-weight: 650;
    padding:10px 0;
    text-wrap: balance;
}

h2{
    color:#888;
    font-size:clamp(.8rem,1.3rem,2rem);
    font-weight: 500;
    text-wrap:balance;
    padding:10px 0;
}

h3{
    font-size:clamp(.6rem,1.2rem,1.6rem);
    font-weight: 400;
    padding:10px 0;
}

.nombre{
    font-weight: 500;
}

.info__buttons{
    margin:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:0px;
    max-width:1000px;
    width: 100%;
    user-select: none;
}


.socials{
    margin:15px 0px;
    display:flex;
    width:clamp(50%,65%, 80%);

    align-items: center;
    border-radius:8px;
    background: #fff;
    padding:15px 5px;
    box-shadow: 0 0 3px #0003;
    width:clamp(300px,95%,600px);
    justify-content: space-evenly;
   
}

.socials i{
    color:var(--primary-color);
    font-size:1.3rem;
    padding:0 5px;
    
}


.load-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid var(--secondary-color);
    border-radius:8px;
    padding:5px;
    color:var(--texto);
    width:clamp(300px,95%,600px);
    margin:3px;
    box-shadow: 2px 2px 0px var(--shadows);

}


.load-bar2{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid var(--secondary-color);
    border-radius:8px;
    padding:5px;
    color:#3A384F;
    width:clamp(60%,90%, 90%);
    margin:2px;
}





.load-bar:hover{
    background-color: var(--content);
}

.load-bar__bar{
    padding:4px 6px;
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

footer{
    bottom: 0;
    width: 100%;
    padding:6px 10px;
    background-color: var(--primary-color);
    color:#fffd;
    font-size:0.8rem;
    

}
.lapaz{

    font-weight: 200;

}

.capital{
font-family: 'Indie flower';
font-size:1rem;
}




.icon{
    font-size: 2rem;
}

.emoji{
    font-size:1.6rem;
}



/* SECCION CRONOGRAMA - Desplegables*/
/* SECCION CRONOGRAMA - Desplegables*/
/* SECCION CRONOGRAMA - Desplegables*/


.faq{
    user-select: none;
    width:clamp(300px,95%,600px);
    margin:auto;   
   
}


summary,.info__grupos-titulo{
    text-align: center;
    cursor:pointer;
    font-weight: 600;
    padding:5px;
}


.info__grupos-titulo{
    cursor: auto;
}

details,.info__grupos{
    border:2px solid var(--secondary-color);
    border-radius:8px;
    padding:6px;
    color:var(--primary-color);
    margin:5px;
    font-weight: 400;
    box-shadow: 2px 2px 0px var(--shadows);

}




details:hover{
    background:var(--content);
}

summary{
    position:relative;
}
        
        summary::marker{
     
            content:'';
     }
        
     summary::-webkit-details-marker {
        display: none;
    }   
        
    .content{
        margin-top:5px;
        border-top:2px dotted var(--secondary-color);
        padding:10px 10px;
    }
    
.content p{
    margin:10px 0px;
}

.lnk{
    text-decoration:underline;
}

.largada{
    color:red;
}

.ul__categorias{
    margin-left:20px;
}

    
    @keyframes aparecer{
        from{opacity: 0;}
        to{opacity: 1;}
    }    
    /*
    
    background-color:#18233f;
    margin:7px;
    padding:7px;
    border-radius: 5px;
    max-height: 34px;
    transition: max-height 2s;
    overflow: hidden;
*/



/* ESTILOS PARA CELULAR */

@media (max-width:800px){

    .header__nav-item a{
        font-size:1.4rem;
    }
    .load-bar, .socials{
        width:clamp(300px,95%,600px);

    }

    h1{
        font-size:1.1rem;
    }

    h3{
        font-size: 0.9rem;
    }
    h2{
        font-size:.9rem;
    }
    .footer{
        font-size:0.6rem;
    }

    .lapaz{
        font-size: 0.5rem;
    }
    .capital{
        font-size: 0.6rem;
    }

    .socials i{
        padding:0 5px;
    }

    .header__logo{
        min-width: 80%;
        width: 50x;
    } 
    
.load-bar2{
    width:clamp(60%,95%, 95%);
}

}